
{% extends "layout.html"%}
{% block content%}
<tr>
	<td>
	<table width="100%" border="0" cellspacing="2" cellpadding="2">
  <tbody>
    <tr>
      <td width="26%" style="align-content: center"><img src="..\static\images\z5268039438043_405184ddb7fe729fa28a7e1cbbeae801.jpg" alt="" style="border-radius: 10%" width="405" height="421"/></td>
      <td colspan="3" style="font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif''Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'"><p style="font-size: 30px"><strong>TRỊNH XUÂN BÁCH</strong></p>
        <p><strong>Ngày sinh:</strong> 13/09/2002</p>
        <p><strong>Sinh viên ngành: </strong>Quản lý công nghiệp -Trường Đại học Sư phạm Kỹ thuật Thành phố Hồ Chí Minh</p>
        <p><strong>Email:</strong> txbach1124@gmail.com</p>
        <p><strong>Mạng xã hội: </strong> <span><a href='https://www.facebook.com/profile.php?id=100009194402141'>FACEBOOK</a></span> || <span><a href ='https://www.linkedin.com/in/b%C3%A1ch-tr%E1%BB%8Bnh-xu%C3%A2n-05836b1a4/'>LINKED</a></span></p></td>
    </tr>

  </tbody>
</table>

	
	</td>
</tr>
{% endblock %}