<tr>
    <td class="Nav">
        <table width="100%" cellspacing="10px" cellpadding="2">
            <tbody class="Nav_Button">
                <tr>
                    <td width="25%"><a href="{{url_for('index')}}">
                            <div style="height:100%;width:100%">TRANG CHÍNH
                            </div></a></td>
                    <td width="25%"><a href="{{url_for('lesson')}}">
                        <div style="height:100%;width:100%">BÀI HỌC </div></a></td>
                    <td width="25%"><a href="{{url_for('something')}}">
                        <div style="height:100%;width:100%">SOMETHING</div></a></td>
                    <td width="25%"><a href="{{url_for('introduction')}}">
                        <div style="height:100%;width:100%">ABOUT ME</div></a></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>